@import "tailwindcss";

:root {
	background-color: #19191d;
	color: #ffffff;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

#app {
	width: 100%;
	height: 100%;
}
